/*
 * @Author: niumengfei
 * @Date: 2020-08-17 16:13:31
 * @LastEditors: niumengfei
 * @LastEditTime: 2020-08-19 10:21:38
 */
 @font-face {font-family: "iconfont";
    src: url('./font/iconfont.eot?t=1597802665784'); /* IE9 */
    src: url('./font/iconfont.eot?t=1597802665784#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKsAAsAAAAABmgAAAJeAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0gRABNgIkAwgLBgAEIAWEbQcvG7UFyA4lTQOFlOFEUEQET+P45u3uJxPZvk+KANOVcBehUq8kVqo7EUdzeumIhP0RhWTVAEAG79Nv+HNDklViioxnvwlXAy6n/w2gQOYB5bYnrTkAA0sD3AujyEoo44axC1zCYwK1ekxQ1i2s7UGrwloViFMicKA151YUFqsWKmsOFnFFhep0Nt0GLoffjw/MaCWpyKyCzSfnfZh6PWAn5Nv/t/b7BA8BHa9AxhRQiO214Y0aBGM0qA03GgD7yg1e9/3/75vEXvWC/XVWdj3ogoJ7ErqiW81OoMSTg8D8qG2k1pb0UHn29ODp471OvO3xk/0jh/uHyqMzOw/PbXWCB++f3t7x/nt0i7Z94nV7eld7G5/eng4ExatmanW6tW/D5SUMXRw8VtsZcGtuHPn7F6ZYP8vXcwgEH3+Kaatn2dfqugJeuVefw6oiB6r3bQn+kbDnQNHFljEVVVhrTQZHrUyoVYv/sL3V/1hNxw3FQ7WO27JW6U6RVRsiC30KFerMoFK1lag1afF4nTZSgyg1mPAEEJq9IGl0DVmzD7LQ/1ChUx2VmqMBtXZG24V1RkK0r5XoEPrMPWPCSxPumKk9yt3B4ChyZFYcMg9QFsLHDFUvxhYxQTnHluI4MIk44zKN2QJ4DqMoZZlMq+iRWiHKyprG696kemkM7daSkIMgH+M6wwieVIL740l76fM7UOBIxCFbWmq8B5BUENMzBpXeg1xUJL1a7uWVwrGAiRCO4aRUjFkA81AkkmKy+nlVyENUlRHBTJlmj+J9Fer6qvgD8lkHljaFPSOrOCJORQIAAAAA') format('woff2'),
    url('./font/iconfont.woff?t=1597802665784') format('woff'),
    url('./font/iconfont.ttf?t=1597802665784') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('./font/iconfont.svg?t=1597802665784#iconfont') format('svg'); /* iOS 4.1- */
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-aixin:before {
    content: "\e622";
  }
  
 .APP{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
    background-color: lightcoral;
    p{
        font-size: 20px;
        color: red;
    }
    img{
        width: 200px;
        height: 200px;
    }
}